#nav-bar{
    position : fixed !important;
}

.product_carousel{
    height: 350px;
}

.options{
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
    margin-bottom : 1rem;
    gap : 4px 40px;
}

.productcarousel{
    margin-top : 6rem;
    margin-bottom : 2rem;
}

.mycarousel {
    margin-top: 6rem;
    height: 460px !important;
}

del {
    color: #868686;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.category>p {
    margin-top: 2px;
}

#category-col{
    margin-top : 2rem;
}

.category-card{
    width : 15rem !important;
}

.category-row{
    padding : 4rem !important;
}

a {
    text-decoration-line: none;
}

.product-section-heading{
    padding : 1.5rem;
}

.products-row{
    padding : 1.5rem;
    margin-top : .5rem;
}

.product-card{
    width : 18rem !important;
    height : 25rem !important;
    margin-bottom : 1rem;
}

.product-card img{
    height: 220px !important;
}

.product-operations-btn{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.card-title, .product-card .product-price{
    text-align: center !important;
}

.buy-btn {
    background-color: #dbbb10;
    color: black;
    outline: none;
    border: none;
    border-radius: 5px;
}

.buy-btn:hover {
    background-color: #dbbb10;
    color: black;
    outline: none;
    border: none;
}

.login input {
    height: 2rem;
    width: 16rem;
    outline: none;
}

input::placeholder {
    color: #777777;
    letter-spacing: 1px;
}

input[type="submit"] {
    cursor: pointer;
    color: #ffffff;
    background-color: #90D26D;
    width: 16.5rem;
    height: 2.5rem;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 2px;
}

input[type="submit"]:hover {
    background-color: #ffffff;
    color: #90D26D;
    border: 1px solid #90D26D;
    width: 16.5rem;

    font-size: 18px;
}

#login_heading {
    font-family: "Sono", monospace;
    font-weight: 300;
    font-size: 5rem;
    text-align: center;
}

.login{
    border-collapse: separate;
    border-spacing: 0 8px;
}

.category-images{
    height : 80px !important;
}

i{
    cursor : pointer;
}

.search-items{
    display: block;
}

.search-items{
    position :absolute;
    top: 60px;
}

.search-items{
    background-color : #ffffff;
    height: 150px;
    overflow : scroll;
}

table span{
    float : right;
}

.quantity{
    width: 6rem;
    height: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.quantity span{
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

.quantity span .num{
    font-size: 20px;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
}

.quantity .num{
    font-size: 20px;
}

.product-review{
    display : flex;
    flex-direction: column;
    margin-top: 15px !important;
    border-bottom : 2px solid grey; 
}
   
.user-details span{
    color : #666666;
    font-size : 19px !important;
}
   
.user-details img{
    height: 30px !important;
    vertical-align: bottom !important;
}

.user-review span{
    color : black;
    font-size : 17px ;
    font-family : 'nunito-sans';
}

.review-form{
   padding : 14px;
   background-color : #EBECED;
   box-shadow: 0px 0px 3px;
}

.checkout-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

fieldset{
    border: 1px solid #000000;
}

.order-details{
    border-left : 2px solid #777777;
    padding : 1rem;
}

.order-container{
    padding-top: 2rem;
}

.product-link{
    font-size : 23px;
}

.ordered-product-image img{
    height: 150px;
    border : 1px solid silver;
}

.ordered-products{
    display : flex;
    flex-direction : column;
}

.ordered-product-detail{
    padding : 1rem;
}

.ordered_product_list{
    display: block;
}

.single-product img{
    display : block;
    margin : auto;
}

#filter-button{
    display : none;
}

.error-msg{
    color : #d60d0d;
}

/* #chat-form{
    display:none !important;
} */

.order-specific{
    display : flex;
}

.order-all .row {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px !important;
    padding : 10px 0px;
}

.order-all{
    display : flex;
    flex-direction : column;
    gap: 2rem;
}

#get-support {
    cursor : pointer !important;
}

#notification-count {
    position: absolute;
    top: -7px;
    right: -8px;
    font-size: 12px;
    background: #DBBB10;
    padding: 3px;
    z-index: -1;
    color: #f7f7f7;
    border-radius: 20px;
}

.dropdown-menu {
    right : 0px;
}

@media only screen and (max-width: 480px) {
    .mycarousel {
        margin-top: 5rem;
        height: 180px !important;
    }

    .category {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    #category-col{
        margin-top : 2rem !important;
    }

    .category-card{
        width : 20rem !important;
    }

    .category-row{
        padding : 0.5rem !important;
    }

    .category-images{
        width : 150px !important;
    }

    .product-section-heading{
        padding : 1.5rem 0.5rem !important;
    }

    .products-row{
        padding : 0rem .5rem;
        margin-top : .3rem;
    }

    .product-card{
        width : 20rem !important;
        height : 24rem !important;
        margin-bottom : 2rem; 
    }

    .product-card img{
        height: 200px !important;
    }

    
    .product-operations-btn .row{
        display: flex !important;
        flex-direction: row !important;
        column-gap : 38px !important;
        align-self: baseline !important;
    }

    .product-operations-btn .row div{
        width : max-content !important;
    }
    
    .card-title, .product-card .product-price{
        text-align: center !important;
    }    

    .single-product{
        height : 230px !important;
    }

    .single-product img{
        max-height : 220px !important;
        margin : auto;
        vertical-align: center;
    }

    .filters{
        display: none;
    }

    .filters center a{
        display : none;
    }
    
    #filter-button{
        display: block;
    }

    #filter-button a{
        cursor : pointer;
    }
}